*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
# Visual Studio Code
.VS Code
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
/src/CommandAPI/bin/
[Oo]bj/
/src/CommandAPI/obj/
msbuild.log
msbuild.err
msbuild.wrn
# Visual Studio
.vs/
# Riders
.Idea/
/.idea/
# Compiled Source
*.com
*.class
*.dll
*.exe
*.o
*.so
